/*styling the profile icon*/

/*
colors:
robin egg blue: #52D1DC
chinese violet: #7B5E7B
dark purple: #1C0221
french gray: #BBBBBF
*/

/* */

/*styling for artist images */
.profile{
    display: flex;
}

.artistImage{
    border-style: solid;
    border-color: #BBBBBF;

    border-radius: 10%;
    margin: 3vh;
    margin-right: 1vh;
}

.artistName {

    width: 100%;

    border-style: solid;
    border-color: white;
    border-radius: 7%;

    margin: 3vh;

    color: white;

    background-color: #1C0221;
    font-weight: bolder;
    font-size: 150%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.artistName:hover{ 
   
    border-style: solid;
    border-width: .4vw;
    border-color: white;
    border-radius: 7%;

    padding: 2vh;
    color: white;

    background-color: #1C0221;
    font-weight: bold;
    font-size: 180%;

}

.centerScroll{
    width: 80vw;
    display: block;
    padding-left: 20vw;
    align-items: center;
}
